.banner-setup h3{
    font-size: 5rem;
    position: relative;
    top: -20rem;
}
.banner-setup p{
    font-size: 2rem;
    position: relative;
    top: -18rem;
}
@media only screen and (max-width: 600px) {
    .banner-setup h3{
        font-size: 2rem;
        position: relative;
        top: 0;
    }
    .banner-setup p{
        font-size: 1rem;
        position: relative;
        top: 0;
    }
  }
@media only screen and (min-width: 601px) and (max-width: 992px) {
    .banner-setup h3{
        font-size: 3rem;
        position: relative;
        top: -5rem;
    }
    .banner-setup p{
        font-size: 2rem;
        position: relative;
        top: -3rem;
    }
  }