*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: 'Source Code Pro', monospace;
}
.btn-grad{
  background-color: #E35D6A;
  border: none;
}
.btn-grad:hover{
  background-color: #087990;
  /* border: 2px solid #E35D6A; */
}
@media only screen and (max-width: 600px) {
  .App{
    overflow-x: hidden;
  }
}
